units/
components/chsdet/lib/
components/CmdLine/lib/
components/dcpcrypt/lib/
components/doublecmd/lib/
components/gifanim/lib/
components/KASToolBar/lib/
components/multithreadprocs/lib/
components/viewer/lib/
components/synunihighlighter/lib/
plugins/w?x/*/lib/
*.w[cdlf]x
*.dsx
*.[oa]
*.compiled
*.ppu
*.or
*.res
*.bak
*.log
*.lps
doublecmd
doublecmd.zdli
doublecmd.dbg